body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(230, 255, 230);
}

h1 {
  margin-top: 30px;
  color:  rgb(6, 145, 6);
}

h3 {
  color: rgb(95, 160, 250);
}

button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: rgb(6, 145, 6);
  color: rgb(255, 255, 255);
}
table {
  margin: 30px auto;
  border-collapse: collapse;
}

td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  position: relative;
}

.piece {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
}
